<button (click)="setVisible()">
  {{visible? 'Ocultar': 'Mostrar'}}
</button>

@if(visible){
  <h2>{{title}}</h2>

  @if(users != undefined && users.length > 0){
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>name</th>
        </tr>
      </thead>
      <tbody>
        @for (user of users; track $index){
          <tr>
            <td>{{$index+1}}</td>
            <td>{{user}}</td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <p>La tabla esta vacia</p>
  }
} @else {
  <h2>Lo sentimos no esta disponible</h2>
}


<!-- <div *ngIf="visible; else notEnable">
  <h2>{{title}}</h2>
</div>

<button (click)="setVisible()">
  {{visible? 'Ocultar': 'Mostrar'}}
</button>

<div *ngIf="visible">
  <table *ngIf="(users != undefined && users.length > 0) else isEmpty">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; index as i">
        <td>{{i+1}}</td>
        <td>{{user}}</td>
      </tr>
    </tbody>
  </table>

  <ng-template #isEmpty>
    <div>La tabla esta vacia</div>
  </ng-template>
</div>
<ng-template #notEnable>
  <h2>Lo sentimos no esta disponible</h2>
</ng-template> -->